img {
  max-width: 100vw;
}

#pizza-banner {
  font-size: 86px;
  text-align: center;

  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
}

#order-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}
